<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sudoku Generator</title>

  <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }}>
  {{ grid_css | safe }}
</head>

<body>
  <h1>Sudoku Generator!</h1>

  <div class="sudoku-grid">

    {% for cluster in grid %}
    <div class="sudoku-cluster">

      {% for cell in cluster %}
      <div>
        {{ cell }}
      </div>
      {% endfor %}

    </div>
    {% endfor %}

  </div>
</body>

</html>